@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Plataforma dedicada a la facilitacion del manejo de Cotizaciones realizadas en la empresa por Personas.</p>
