@model Cotizaciones.Models.Cotizacion

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Cotizacion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="tipoServicio" class="control-label"></label>
                <input asp-for="tipoServicio" class="form-control" />
                <span asp-validation-for="tipoServicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descripcion" class="control-label"></label>
                <input asp-for="descripcion" class="form-control" />
                <span asp-validation-for="descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="montoTotal" class="control-label"></label>
                <input asp-for="montoTotal" class="form-control" />
                <span asp-validation-for="montoTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="valorAgregado" class="control-label"></label>
                <input asp-for="valorAgregado" class="form-control" />
                <span asp-validation-for="valorAgregado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha" class="control-label"></label>
                <input asp-for="fecha" class="form-control" />
                <span asp-validation-for="fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="estado" class="control-label"></label>
                <input asp-for="estado" class="form-control" />
                <span asp-validation-for="estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="version" class="control-label"></label>
                <input asp-for="version" class="form-control" />
                <span asp-validation-for="version" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
